body{
  text-align: center;
}

#viewport{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

#container{
  position: absolute;
  width: 20000px;
  height: inherit;
  transition: margin-left 2s;
  -webkit-transition margin-left 2s;
}

div.post{
  height: 100%;
  float: left;
  display: -webkit-flex;
  display: flex;
}

img{
  margin: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}
